/*--------------------Navbar design---------------------*/
nav span{
    left: 18%;
    width: 18%;
}
@media (max-width:745px){
    nav span{
        left: 25%;
        width: 23%;
    }
}
/*---------------------END---------------------------*/

/*----------------------Slide------------------------*/
.slider{
    width: 70%;
    height: 250px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 80% 20%;
}
.container-Above-Left{    
    background: black;
    justify-content: center;
    display: grid;
    grid-row: 1;
    grid-column: 1;
}
.container-Above-Left img{
    height: 200px;
    width: auto;
}
/**/
li{
    list-style-type: none ;
}

.container-Bottom-Left{
    display: flex;
}

.container-Bottom-Left li a{
    background-color: white;
    text-decoration: none;
    font-size: large;
    display: block;
    padding: 8px 25px;
}

.container-Bottom-Left li:hover a{
    background: #4f4e4e;
    color: aliceblue;
    transition: all 0.3s;
}
/**/
.container-Right{
    display: grid;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.container-Right img{
    height: 250px;
    width: 100%;
}

/*---------------------------------------------------*/


/*---------------------eventContents------------------*/

.eventContents{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

/******************************************************/