/*--------------------Navbar start---------------------*/
nav span{
    left: 22%;
    width: 22%;
}
/*---------------------Navbar end----------------------*/


/*--------------------Responsive start-------------------*/
@media (max-width: 1149px){
    nav span{
        width: 20%;
    }    
}

@media (max-width:745px){
    nav span{
        left: 25%;
        width: 23%;
    }
}
/*---------------------Responsive end--------------------*/