/*--------------------Navbar design---------------------*/
nav span{
    left: 44%;
    width: 22%;
}

@media (max-width:745px){
    nav span{
        left: 48%;
        width: 23%;
    }
}
/*---------------------END---------------------------*/
