.navbar {
    padding-top: 2%;
}
.navbar-brand {
    padding-left: 10vw;
}
.nav-item {
    padding-right: 10vw;;
}
#logoBrand { 
    max-width : 150px;
}
#logoPika { 
    max-width: fit-content;
}
.text-center {
    font-weight: bold;
    font-size: xx-large;
}
