<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feedback</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <div class="wrap-contact bg-light rounded">
            <h1 class="feedback-container">
                <div class="title-overlay"></div>
            </h1>
            <div class="form-inline">
                <div class="info-firstname">
                    <label for="firstname">Firstname:</label>
                    <input type="firstname" class="form-control" id="firstname" placeholder="Enter firstname"
                        name="firstname" required>
                </div>
                <div class="info-lastname">
                    <label for="lastname">Lastname:</label>
                    <input type="lastname" class="form-control" id="lastname" placeholder="Enter lastname"
                        name="lastname" required>
                </div>
            </div>
            <form class="container-lg">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="formcheck">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember"> Remember me
                    </label>
                </div>
                <div class="form-group">
                    <label for="FormControlTextarea">Example textarea</label>
                    <textarea class="form-control" id="FormControlTextarea" rows="4" placeholder="Write your issues"></textarea>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="../js/script.js"></script>

</html>
